<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IA-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Etudiant</title>
    <link rel="stylesheet" href="{% static 'etudiant/css/boutstrap.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center alert-danger">Fonction CRUD Basée sur la Gestion d'étudiant</h2>
        {% block content %} {% endblock content %}
    </div>
    <script src="{% static 'etudiant/js/jquery.js' %}"></script>
    <script src="{% static 'etudiant/js/boutstrap.js' %}"></script>
    <script src="{% static 'etudiant/js/popper.js' %}"></script>

</body>   
</html>